<!DOCTYPE html/>
<html lang="en">
<title>Data collector App</title>
<head>
    <link href="../static/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>
        Collecting height
    </h1>
    <h3>Please, fill the entires to get population height statistics </h3>
    <div class="message">
       {{text | safe }}
    </div>
    <FORM action="{{url_for('my_send_file')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required><br>
        <button type="submit">Submit</button>
    </FORM>
    {% include btn ignore missing %}
</div>
</body>
</html>